h1, p, footer {
    text-align:center;
    font-family: 'Benne', serif;
}
body {
    background: linear-gradient(270deg, #edc714, #9119af)
}

.croissant-photo {
    max-width: 100%;
    height: 500px;
    border-radius: 10px;
    display: block;
    margin: 15px auto;
}

a{
margin: 0 15px;
color: purple;
}